@use "../base" as *;

.js {
  .read-more {
    opacity: 0;
  }

  .read-more--loaded {
    opacity: 1;
  }
}

.read-more__btn {
  @include reset;
  cursor: pointer;
  color: var(--color-primary);
  text-decoration: underline;
}
